<template name="image">
    <div class="container" style="margin-top:20px;">
        <div class="row" style="margin-top:10px;">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/images">Gallery</a></li>
                <li class="breadcrumb-item active">{{img_alt}}</li>
            </ol>
           
        </div>
        
        <a href="/images"><img class="image" src="/{{img_src}}"></a>
    </div>

</template>