<template name="images">
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/tenerife">Tenerife</a></li>
                <li class="breadcrumb-item active">Gallery</li>
            </ol>

        </div>
        <div class="modal fade" id="image_add_form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="js-add-image">
                            <div class="form-group">
                                <label for="img_src">Image URL:</label>
                                <input type="text" class="form-control" id="img_src" placeholder="url" name="img_src" />
                            </div>
                            <div class="form-group">
                                <label for="img_alt">Image description:</label>
                                <textarea class="form-control" id="img_alt" placeholder="Describe the image here" name="img_alt"></textarea>
                            </div>
                            <button class="btn btn-success">save</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--button class="btn btn-success js-show-image-form">Add Image</!-button>-->
        <div class="row">
            {{#each images}}
            <div class="col-xs-12 col-md-3" id="{{_id}}">
                <div class="thumbnail">

                    <a href="/image/{{_id}}"> <img class="js-image thumbnail-img" src="{{img_src}}" alt="{{img_alt}}" /></a>

                    <div class="caption">
                        <h3>Rating: {{rating}}</h3>
                        <p>Description:{{img_alt}}</p>

                        <p>
                            {{>starsRating mutable=true class='js-rating' id=_id}}
                        </p>
                        <!-- button class="js-del-image btn btn-warning">delete</!-button>-->
                    </div>
                </div>
            </div> <!-- / col -->
            {{/each}}
        </div> <!-- / row -->
    </div>

</template>
