/* CSS declarations go here */


* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("44.jpg");
    /* Control the height of the image */
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 1083px;
}

/* Add styles to the form container */


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Set a style for the submit button 
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}*/

    .btn:hover {
        opacity: 1;
    }



    /******/
.thumbnail {
    min-height:50px;
    max-height: 500px;
    /*word-wrap: break-word;*/
}

.thumbnail-img {
    max-height: 200px;
}

body {
    padding-top: 2px;
    height:100%;
}

.single-img {
    max-width: 100%;
}

.welcome{
	z-index:0;
    position:fixed;
    overflow:hidden;
    transform:translate3d(0px,0px,0px);
    visibility:visible;
    top:140.109px;
    left:0px;
    height:1229px;
    width:1024px;
}

.image {
    
    z-index: 0;
    position: absolute;
    height:400px;
    width:930px;
}

.place {
    margin-top:10px;
    width: 943px;
    max-height: 500px;
   
}

.place-t {
    margin-top: 10px;
    width: 1060px;
    max-height: 500px;
    margin-left:10px;
    margin-bottom:20px;
}

.place-back {
    background-color: lightgray;
}

.margin-card{
    margin-bottom:10px;
    margin-top:10px;
}

.fixed {
    margin-left: 50px;
    position: fixed;
    width: 50%;
    bottom: 10px;
    
} 