<template name="navbar">
    <ul class="nav  nav-tabs bg-dark navbar-fixed-top ">
        <li class="nav-item">
            <a class="nav-link active" href="{{pathFor route='tenerife'}}"><span class="glyphicon glyphicon-home"></span>Tenerife</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{pathFor route='places'}}"><span class="glyphicon glyphicon-flag"></span>Place To Go</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{pathFor route='images'}}"><span class="glyphicon glyphicon-picture"></span>Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{pathFor route='contact'}}"><span class="glyphicon glyphicon-phone-alt"></span>Contact</a>
        </li>

        <li style="margin-left:500px;">
          
                <a id="loging" data-toggle="modal" data-target="#myModal">
                    <span class="fa fa-sign-in">Reserve Trip</span>
                </a>
        </li>


    </ul>

   

    

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="row row-content justify-content-center ">
                <div class="col-sm-8  ">
                    <div class="card" style="background-color:white; border:solid groove;">
                        <h3 class="card-header bg-warning form-control" >Reserve Trip</h3>
                        <div class="card-body" id="Table">

                            <form>
                                <div class="form-group row">
                                    <label for="numguest" class=" col-md-3 col-form-label">Number of Guests</label>
                                    <div class="col-md-6 ">
                                        <label class="radio-inline ">
                                            <input type="radio" id="numguest" name="numguest">1
                                        </label>
                                        <label class="radio-inline ">
                                            <input type="radio" id="numguest" name="numguest">2
                                        </label>
                                        <label class="radio-inline ">
                                            <input type="radio" id="numguest" name="numguest">3
                                        </label>
                                        <label class="radio-inline ">
                                            <input type="radio" id="numguest" name="numguest">4
                                        </label>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="destination" class="col-lg-2 col-form-label">Your Destination</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" id="destination" name="destination" placeholder="Destination">
                                    </div>
                                   


                                </div>

                                <div class="form-group row">
                                    <label for="datetime" class="col-lg-2 col-form-label">Date and Time</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" id="datetime" name="datetime" placeholder="Date">
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" id="datetime" name="datetime" placeholder="Time">
                                    </div>


                                </div>
                                <div class="form-group row">
                                    <div class=" offset-3 " style="margin-left:10px;">
                                        <button type="submit" class="btn bg-primary">Reserve</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</template>