<template name="places">
  
    <div class="container  place-back " style="margin-top:50px;">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/tenerife">Tenerife</a></li>
                <li class="breadcrumb-item active">Place To Go</li>
            </ol>
            
        </div>
        <div class="card " style="width:400px">
            <img class="card-img-top place" src="22.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Tenerife Island</h4>
                <p class="card-text">Some example text.</p>
                
            </div>
            <img class="card-img-top place" src="41.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Tenerife Island</h4>
                <p class="card-text">Some example text.</p>
            
            </div>
            <img class="card-img-top place" src="42.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Tenerife Island</h4>
                <p class="card-text">Some example text.</p>
                
            </div>
            <img class="card-img-top place" src="43.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Tenerife Island</h4>
                <p class="card-text">Some example text.</p>
             
            </div>
            <img class="card-img-top place" src="56.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Tenerife Island</h4>
                <p class="card-text">Some example text.</p>
               
            </div>
        </div>
        <div class="card ">
            <div class="row row-content">
                <div class="col-12">
                    <h3>Send us your Feedback</h3>
                </div>
                <div class="col-12 col-md-9">
                    <form>
                        <div class="form-group row">
                            <label for="firstname" class="col-md-2 col-form-lebel">First Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-md-2 col-form-lebel">Last Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="telnum" class="col-md-2 col-form-lebel">Telphone Number</label>
                            <div class="col-5 col-md-3">
                                <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="areacode">
                            </div>
                            <div class="col-7 col-md-7">
                                <input type="text" class="form-control" id="telnum" name="telnum" placeholder="Tel.Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="emailid" class="col-md-2 col-form-lebel">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Email">
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-6 offset-2">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="approve">
                                    <label class="form-check-label" for=""><strong>May we contact you?</strong></label>
                                </div>

                            </div>


                            <div class="col-md-3 offset-1">
                                <select class="form-control">
                                    <option>Tel.</option>
                                    <option>Email</option>
                                </select>
                            </div>

                        </div>


                        <div class="form-group row">
                            <label for="feedback" class="col-md-2 col-form-lebel">Your Feedback</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-md-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Send Feedback</button>

                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-12 col-md">
                </div>
            </div>


        </div>
    </div>

</template>