<template name="tenerife">
    <img class="card-img-top place-t" style="margin-top:50px;" src="38.jpg" alt="Card image">
    <div class="container  place-back">

        <div class="card-body margin-card">
            <h2 class="card-title">Tenerife</h2>
            <img class=" place" src="40.jpg" alt="Card image">
            <p class="card-text margin-card">
                Tenerife( Guanche: Achinet) is the largest
                and most-populated island of the eight Canary Islands. It is also the most-populated island of Spain,
                with a land area of 2,034.38 square kilometres (785.48 sq mi) and 917,841 inhabitants at the start of
                2019, 43 percent of the total population of the Canary Islands. Tenerife is the largest and most-populous island of Macaronesia.


                Approximately five million tourists visit Tenerife each year, making it the most-visited island
                of the archipelago. It is one of the most important tourist destinations in Spain, hosting
                one of the world's largest carnivals, the Carnival of Santa Cruz de Tenerife.
            </p>

        </div>
        <div class="card ">


            <div class="card-body margin-card">
                <h4 class="card-title">How To Get There</h4>
                <img class="card-img-top place" src="41.jpg" alt="Card image">
                <p class="card-text margin-card">
                    Tenerife is most easily reached by air. There are two airports: Reina Sofia (or Tenerife South Airport),
                    in the south, and Tenerife North Airport, also called Los Rodeos, near Santa Cruz. Each has flights to the capitals of the
                    other islands and to cities throughout Europe, as well as to Caracas, Dakar, and Miami. Overall, Tenerife has the highest annual
                    passenger count and the greatest number of arrivals in Canary Islands, made more popular by the frequency of cheap flights from many
                    European destinations. Tenerife North Airport was the site of the deadliest accident in aviation history: in 1977 two Boeing 747s collided
                    on a runway, killing 583 people. Tenerife North Airport and Tenerife South Airport together account for the highest passenger numbers in the
                    Islands with some 14 million passengers annually (AENA report[166]).
                    Of the two airports on the island, Tenerife South is the most popular tourist destination
                </p>
             

            </div>

            <div class="card-body">
                <h2 class="card-title">Do</h2>
                <img class="card-img-top place" src="42.jpg" alt="Card image">
                <p class="card-text">
                    Tenrife is the largest island out of seven in the Canaries, and with so much to
                    do on one island, I'd suggest 4-5 days or more on the Island of ExternalSunshine. Keep in mind there are about
                    23 different microclimates on the island, allowing visitors to experience all seasons in just one day.
                    The south tends to be super sunny and dry while the north is wet and thus, grean. Layers, layers , layers! The following
                    activities will take you from the southwest portion of the island all the way to the northern capital of Santa Cruz.
                    ..
                </p>
           
            </div>
            <img class="card-img-top place" src="43.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text"></p>
               
            </div>
            <img class="card-img-top place" src="44.jpg" alt="Card image">
            <div class="card-body">
               
                
            </div>
        </div>
        <div class="card ">
            <div class="row row-content">
                <div class="col-12">
                    <h3>Send us your Feedback</h3>
                </div>
                <div class="col-12 col-md-9">
                    <form>
                        <div class="form-group row">
                            <label for="firstname" class="col-md-2 col-form-lebel">First Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-md-2 col-form-lebel">Last Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="telnum" class="col-md-2 col-form-lebel">Telphone Number</label>
                            <div class="col-5 col-md-3">
                                <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="areacode">
                            </div>
                            <div class="col-7 col-md-7">
                                <input type="text" class="form-control" id="telnum" name="telnum" placeholder="Tel.Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="emailid" class="col-md-2 col-form-lebel">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Email">
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-6 offset-2">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="approve">
                                    <label class="form-check-label" for=""><strong>May we contact you?</strong></label>
                                </div>

                            </div>


                            <div class="col-md-3 offset-1">
                                <select class="form-control">
                                    <option>Tel.</option>
                                    <option>Email</option>
                                </select>
                            </div>

                        </div>


                        <div class="form-group row">
                            <label for="feedback" class="col-md-2 col-form-lebel">Your Feedback</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-md-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Send Feedback</button>

                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-12 col-md">
                </div>
            </div>


        </div>
    </div>

</template>